body{
    margin: 0;
}
.App{
    height: 100vh;
    background: rgb(24,24,24);
}
body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }
  body::-webkit-scrollbar{
    width: 5px;
  }
  body::-webkit-scrollbar-track{
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  body::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #333;
  }
  